<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: header">

</head>
<body>
	<div th:replace="main :: menu"></div>
	
	<table class="patientInfoHolder">
			<tr>
				<td><label>Registration No:</label> </td>
				<td><input type="text" class="form-control" id="regNo" name="regNo" readonly="readonly"/></td>
				<td><label>Patient Name:</label> </td>
				<td><input type="text" class="form-control" id="patientName" readonly="readonly"/></td>
			</tr>

			<tr>
				<td><label>Age:</label> </td>
				<td><input type="text" class="form-control" id="patientAge" readonly="readonly"/></td>
				<td><label>Sex:</label></td>
				<td><input type="text" class="form-control" id="patientSex" readonly="readonly"/></td>
			</tr>
		</table>
	
	<div id="examFindingsPage" class="form-group">		
		<form id="examFindingsform" th:action="@{/saveexamfindings}" th:object="${examFindings}" method="post" accept-charset="utf-8">
			<textarea th:id="visitId" th:field="*{visitId}" class="hide"></textarea>
			<table class="table">
				<tr>
					<td><label>Temperature -</label>
						<label class="radio-inline"><input type="radio" name="temperatureValue" value="1"/>High</label>
						<label class="radio-inline"><input type="radio" name="temperatureValue" value="0" checked="checked"/>Normal</label>
					</td>
					
					<td><label>Anaemia -</label>
						<label class="radio-inline"><input type="radio" name="anaemiaValue" value="0" checked="checked"/>Nil</label>
						<label class="radio-inline"><input type="radio" name="anaemiaValue" value="" class="radio-top-margin"/><input type="text" class="anaemiaValue half-width form-control"/></label>
					</td>
					
					<td><label>Jaundice -</label>
						<label class="radio-inline"><input type="radio" name="jaundiceValue" value="0" checked="checked"/>Nil</label>
						<label class="radio-inline"><input type="radio" name="jaundiceValue" value="" class="radio-top-margin"/><input type="text" class="jaundiceValue half-width form-control"/></label>
					</td>					
				</tr>
				
				<tr>
					<td><label>Oedema -</label>
						<label class="radio-inline"><input type="radio" name="oedemaValue" value="0" checked="checked"/>Nil</label>
						<label class="radio-inline"><input type="radio" name="oedemaValue" value="" class="radio-top-margin"/><input type="text" class="oedemaValue half-width form-control"/></label>
					</td>
										
					<td><label>Cyanosis -</label>
						<label class="radio-inline"><input type="radio" name="cyanosisValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="cyanosisValue" value="" class="radio-top-margin"/><input type="text" class="cyanosisValue half-width form-control"/></label>
					</td>
					
					<td><label>Ascitis -</label>
						<label class="radio-inline"><input type="radio" name="ascitisValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="ascitisValue" value="" class="radio-top-margin"/><input type="text" class="ascitisValue half-width form-control"/></label>
					</td>		
				</tr>
				
				<tr>
					<td><label>Neck Veins -</label>
						<label class="radio-inline"><input type="radio" name="neckVainsValue" value="1"/>Engorged</label>
						<label class="radio-inline"><input type="radio" name="neckVainsValue" value="0" checked="checked"/>Normal</label>
					</td>
					
					<td><label>Clubbing -</label>
						<label class="radio-inline"><input type="radio" name="clubingValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="clubingValue" value="" class="radio-top-margin"/><input type="text" class="clubingValue half-width form-control"/></label>
					</td>
					
					<td><label>Gynaecomastia -</label>
						<label class="radio-inline"><input type="radio" name="gynaecomastiaValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="gynaecomastiaValue" value="" class="radio-top-margin"/><input type="text" class="gynaecomastiaValue half-width form-control"/></label>
					</td>	
					
									
				</tr>
				
				<tr>
					<td><label>Koilonychia -</label>
						<label class="radio-inline"><input type="radio" name="koilonychiaValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="koilonychiaValue" value="" class="radio-top-margin"/><input type="text" class="koilonychiaValue half-width form-control"/></label>
					</td>	
					
					<td><label>Palmar erythema -</label>
						<label class="radio-inline"><input type="radio" name="palmarErythemaValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="palmarErythemaValue" value="" class="radio-top-margin"/><input type="text" class="palmarErythemaValue half-width form-control"/></label>
					</td>
					
					<td><label>Flapping Tremor -</label>
						<label class="radio-inline"><input type="radio" name="flappingTremorValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="flappingTremorValue" value="" class="radio-top-margin"/><input type="text" class="flappingTremorValue half-width form-control"/></label>
					</td>	
				</tr>
				
				<tr>
					<td><label>Pulse - <input type="text" th:field="*{pulseValue}" class="half-width form-control"/> /Min</label>
					</td>
					
					<td><label>B.P. - <input type="text" th:field="*{bpValue}" class="half-width form-control"/></label>
					</td>
					
					<td><label>Liver -</label>
						<label class="radio-inline"><input type="radio" name="liverValue" value="0" checked="checked"/>N.P.</label>
						<label class="radio-inline"><input type="radio" name="liverValue" value="" class="radio-top-margin"/><input type="text" class="liverValue half-width form-control"/></label>
					</td>				
				</tr>
				
				<tr>
					<td><label>Spleen -</label>
						<label class="radio-inline"><input type="radio" name="spleenValue" value="0" checked="checked"/>N.P.</label>
						<label class="radio-inline"><input type="radio" name="spleenValue" value="" class="radio-top-margin"/><input type="text" class="spleenValue half-width form-control"/></label>
					</td>	
					
					<td><label>Kidney - <input type="text" th:field="*{kidneyValue}" class="half-width form-control"/></label>
					</td>
					
					<td><label>Abdominal Tenderness (Epi) - </label>						
						<label class="radio-inline"><input type="radio" name="abdomenEpiValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="abdomenEpiValue" value="1"/>+</label>
						<label class="radio-inline"><input type="radio" name="abdomenEpiValue" value="2"/>++</label>
					</td>
				</tr>
				
				<tr>
					<td><label>Abdominal Tenderness (Duo) - </label>						
						<label class="radio-inline"><input type="radio" name="abdomenDuoValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="abdomenDuoValue" value="1"/>+</label>
						<label class="radio-inline"><input type="radio" name="abdomenDuoValue" value="2"/>++</label>
					</td>
					
					<td colspan="2"></td>
				</tr>
				
				<tr>
					<td><label>Lower Abdomen -</label>
						<label class="radio-inline"><input type="radio" name="lowerAbdomenValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="lowerAbdomenValue" value="" class="radio-top-margin"/><input type="text" class="lowerAbdomenValue half-width form-control"/></label>
					</td>
					
					<td><label>Mcburney's Tenderness -</label>
						<label class="radio-inline"><input type="radio" name="mcTendernessValue" value="0" checked="checked"/>None</label>
						<label class="radio-inline"><input type="radio" name="mcTendernessValue" value="" class="radio-top-margin"/><input type="text" class="mcTendernessValue half-width form-control"/></label>
					</td>
					
					<td><label>Lymph Node -</label>
						<label class="radio-inline"><input type="radio" name="lymphNodeValue" value="0" checked="checked"/>N.P.</label>
						<label class="radio-inline"><input type="radio" name="lymphNodeValue" value="" class="radio-top-margin"/><input type="text" class="lymphNodeValue half-width form-control"/></label>
					</td>
				</tr>
				
				<tr>
					<td><label>Lungs -</label>
						<label class="radio-inline"><input type="radio" name="lungsValue" value="0" checked="checked"/>N.A.D</label>
						<label class="radio-inline"><input type="radio" name="lungsValue" value="" class="radio-top-margin"/><input type="text" class="lungsValue half-width form-control"/></label>
					</td>
					
					<td><label>Heart -</label>
						<label class="radio-inline"><input type="radio" name="heartValue" value="0" checked="checked"/>N.A.D</label>
						<label class="radio-inline"><input type="radio" name="heartValue" value="" class="radio-top-margin"/><input type="text" class="heartValue half-width form-control"/></label>
					</td>
					
					<td><label>Nervous System -</label>
						<label class="radio-inline"><input type="radio" name="nervousSystemValue" value="0" checked="checked"/>N.A.D</label>
						<label class="radio-inline"><input type="radio" name="nervousSystemValue" value="" class="radio-top-margin"/><input type="text" class="nervousSystemValue half-width form-control"/></label>
					</td>
				</tr>
				
				<tr>
					<td ><label><strong>Provisional Diagnosis:</strong></label>						
					</td>
					<td colspan="3"><input type="text" th:field="*{provisionalDiagnosis}" class="form-control"/></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-success btn-lg full-width" value="Save"/></td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>
	
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		ExamFindingsListener.attach();
		
		var visitId = [[${visitId}]];
		
		
		if(visitId){
			PatientManager.saveToSessionStorage("visitId", visitId);
			
		}else{
			visitId = PatientManager.getFromSessionStorage("visitId");
		}
		
		var regNo = PatientManager.getFromSessionStorage("regNo");
		var patientName = PatientManager.getFromSessionStorage("patientName");
		var patientAge = PatientManager.getFromSessionStorage("patientAge");
		var patientSex = PatientManager.getFromSessionStorage("patientSex");
		$("#visitId").val(visitId);
		$("#regNo").val(regNo);
		$("#patientName").val(patientName);
		$("#patientAge").val(patientAge);
		$("#patientSex").val(patientSex);
	});			
	/*]]>*/
	</script>

</body>
</html>