<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main :: header">

</head>
<body>
	<div th:replace="main :: menu"></div>
	
	<div id="homePage">
		<a class="btn btn-primary btn-lg" href="registration">Create Patient</a>
		<a class="btn btn-primary btn-lg" href="viewpatient">View Patient</a>
	</div>
	
	<div id="visitViewer">
		<label>PATIENT VISITS:</label>
		<div class="input-group searchBoxHolder">
			<input type="text" id="searchBox" class="form-control" placeholder="Search..."></input>
			<span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
			
		</div>
		<div id="patientVisitTableHolder">
			<table class="table-bordered table-hover" id="patientVisitTable">
			<thead>
			<tr>
				<th><label>Visit Date</label></th>
				<th><label>Registration No</label></th>
				<th><label>Name</label></th>
				<th><label>Contact No</label></th>
				<th><label>Zilla</label></th>
				<th><label>Chief Complains</label></th>
				<th><label>Final Diagnosis</label></th>
				<th></th>
				<th></th>
			</tr>
			<tr id="noPatientVisitNotification">
				<td colspan="9" style="text-align:center;white-space:nowrap">No visits available</td>
			</tr>
			</thead>
			<tbody>
			</tbody>
			
		</table>
		</div>
		
	</div>
	
	<script>
	$("document").ready(function() {
		PatientManager.getPatientVisitList("");
		
		var timeout = null;
		$("#searchBox").on("keyup", function(e){
			clearTimeout(timeout);
			timeout = setTimeout(function(){
				var param = $("#searchBox").val();
				PatientManager.getPatientVisitList(param);
			},1000);			
		});
	});
	</script>
</body>
</html>