<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main :: header">

</head>
<body>
	<div th:replace="main :: menu"></div>
	
	<div id="homePage">
		<a class="btn btn-primary btn-lg" href="registration">New Patient</a>
		<!-- <a class="btn btn-primary btn-lg" href="#">Returning Patient</a> -->
	</div>
	
	<div id="visitViewer">
		<label>PATIENT VISITS:</label>
		<div class="input-group searchBoxHolder">
			<input type="text" id="searchBox" class="form-control" placeholder="Search..."></input>
			<span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
			
		</div>
		<table class="table-bordered table-hover" id="patientVisitTable">
		<thead>
			<tr>
				<th><label>Date</label></th>
				<th><label>Registration No</label></th>
				<th><label>Name</label></th>
				<th><label>Chief Complains</label></th>
				<th><label>Final Diagnosis</label></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr id="noPatientNotification">
				<td colspan="6" style="text-align:center;white-space:nowrap">No patients available</td>
			</tr>
		</tbody>
			
		</table>
	</div>
	
	<script>
	$("document").ready(function() {
		PatientManager.getPatientList("");
	});
	</script>
</body>
</html>