<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Patients Profile</title>
<link rel="stylesheet" href="resources/css/login.css" type="text/css"></link>
<link rel="shortcut icon"  href="resources/images/favicon.ico" type="image/x-icon" />
</head>
<body>
	<h1 id="appName">
		<strong><em>Patients Profile</em></strong>
	</h1>
	
	<form class="form" action="j_spring_security_check" method="post">
		<div class="forceColor"></div>
		<div class="topbar">
			<div class="spanColor" style="height: 44px;"></div>
			<input class="input" id="j_username" name="j_username" placeholder="Username" type="text"></input>
			<input class="input" id="j_password" name="j_password" placeholder="Password" type="password"></input>
		</div>
		<input type="submit" class="submit" id="submit" value="login"></input>
		<p class="message">${message}</p>
	</form>

	<!-- <div id="authorInfoContainer">
		<span id="authorName">Dr. Md. Shafiqur Rahman</span> <br></br>
		<span id="authorInfo">
			<label>MBBS; DTCD; MPH (CM)</label><br></br> 
			<label>REGISTRATION NO. - 3501</label><br></br>
			<label>CONSULTANT MEDICIN, TUBERCULOSIS &amp; CHEST DISEASES</label>
		</span>
	</div> -->
</body>
</html>