<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Patients Profile</title>
<link rel="stylesheet" href="resources/css/login.css" type="text/css"></link>
</head>
<body>
	<h1 id="appName">
		<strong><em>Patients Profile</em></strong>
	</h1>
	
	<form class="form" action="j_spring_security_check" method="post">
		<div class="forceColor"></div>
		<div class="topbar">
			<div class="spanColor" style="height: 44px;"></div>
			<input class="input" id="l_username" placeholder="Username" type="text"></input>
			<input class="input" id="j_password" placeholder="Password" type="password"></input>
		</div>
		<input type="submit" class="submit" id="submit" value="login"></input>
	</form>

	<div id="authorInfoContainer">
		<span id="authorName">Dr. Md. Shafiqur Rahman</span> <br></br>
		<span id="authorInfo">
			<label>MBBS; DTCD; MPH (CM)</label><br></br> 
			<label>REGISTRATION NO. - 3501</label><br></br>
			<label>CONSULTANT MEDICIN, TUBERCULOSIS &amp; CHEST DISEASES</label>
		</span>
	</div>

</body>
</html>