<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Patients Profile</title>
<link rel="stylesheet" href="resources/css/login.css" type="text/css"></link>
</head>
<body>
	<h1 id="appName">
		<strong><em>Patients Profile</em></strong>
	</h1>
	<div class="form">
		<div class="forceColor"></div>
		<div class="topbar">
			<div class="spanColor" style="height: 44px;"></div>
			<input class="input" id="userName" placeholder="Username" type="text"></input>
			<input class="input" id="password" placeholder="Password" type="password"></input>
		</div>
		<button class="submit" id="submit">Login</button>
	</div>

	<div id="authorInfoContainer">
		<span id="authorName">Dr. Md. Shafiqur Rahman</span> <br></br>
		<span id="authorInfo">
			<label>MBBS; DTCD; MPH (CM)</label><br></br> 
			<label>REGISTRATION NO. - 3501</label><br></br>
			<label>CONSULTANT MEDICIN, TUBERCULOSIS &amp; CHEST DISEASES</label>
		</span>
	</div>

</body>
</html>