<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<title>Patients Profile</title>

<link rel="stylesheet" href="resources/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="resources/css/bootstrap-datepicker.min.css"></link>
<link rel="stylesheet" href="resources/css/style.css"></link>

<link rel="shortcut icon"  href="resources/images/favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="resources/js/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="resources/js/main.js"></script>
<script type="text/javascript" src="resources/js/listener.js"></script>

</head>
<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Patients Profile</a>
				</div>

				<ul class="nav navbar-nav">
					<li class="active"><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
				</ul>

			</div>
		</nav>
		<div id="pageName"><h4><strong th:text="${pageName}"></strong></h4></div>
	</div>
	
</body>
</html>