<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: header">

</head>
<body>
	<div th:replace="main :: menu"></div>
	
	<div id="patientVisitPage" class="form-group">
		<form id="patientVisitForm" th:action="@{/updatepatientvisit}" th:object="${patientVisit}" method="post" accept-charset="utf-8">
			<textarea th:name="id" th:text="${patientVisit.id}" class="hide"></textarea>
			<table>
				<tr>
					<td colspan="4">
						<h4>Patient Visit</h4>
					</td>
				</tr>
				<tr>
					<td><label>Registration No:</label> </td>
					<td><label class="form-control" th:text="${patientVisit.regNo}" ></label></td>
					<td><label>Visit Date:</label></td>
					<td><label class="form-control" th:text="${patientVisit.creationDate}"></label></td>
				</tr>
				
				<tr>
					<td><label>Patient Name:</label> </td>
					<td colspan="3"><label class="form-control" th:text="${patient.name}"></label></td>
				</tr>
				
				<tr>
					<td><label>Age:</label> </td>
					<td><label class="form-control" th:text="${patient.age}"></label></td>
					<td><label>Sex:</label></td>
					<td><label class="form-control" th:text="${patient.sex}" ></label></td>
				</tr>
							
				<tr>
					<td><label>Chief Complains:</label></td>
					<td colspan="3"><textarea rows="3" class="form-control" th:name="chiefComplains" th:text="${patientVisit.chiefComplains}" readonly="readonly"></textarea></td>
				</tr>
				
				<tr>
					<td><label>H/O Present Illness:</label></td>
					<td colspan="3"><textarea rows="3" class="form-control" th:name="presentHistory" th:text="${patientVisit.presentHistory}" readonly="readonly"></textarea></td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td><a id="patientVisitEdit" class="btn btn-primary btn-block edit">Edit</a><a id="patientVisitUpdate" class="btn btn-primary btn-block update hide">Update</a></td>
				</tr>
			</table>
			</form>
	</div>
	
	<hr></hr>
	
	<div id="examFindingsPage" class="form-group">		
		<form id="examFindingsForm" th:action="@{/updateexamfindings}" th:object="${examFindings}" method="post" accept-charset="utf-8">
			<textarea th:name="visitId" th:field="${examFindings.visitId}" class="hide"></textarea>
			<table class="table">
				<tr>
					<td colspan="3"><h4>Exam Findings</h4>
					</td>
				</tr>
				<tr>
					<td><label>Temperature -</label>
						<label class="radio-inline"><input type="radio" th:name="temperatureValue" value="1"/>High /</label>
						<label class="radio-inline"><input type="radio" th:name="temperatureValue" value="0"/>Normal</label>
					</td>
					
					<td><label>Anaemia -</label>
						<label class="radio-inline"><input type="radio" name="anaemiaValue" value="1"/>(++) /</label>
						<label class="radio-inline"><input type="radio" name="anaemiaValue" value="0"/>Nil</label>
					</td>
					
					<td><label>Jaundice -</label>
						<label class="radio-inline"><input type="radio" name="jaundiceValue" value="1"/>(++) /</label>
						<label class="radio-inline"><input type="radio" name="jaundiceValue" value="0"/>Nil</label>
					</td>					
				</tr>
				
				<tr>
					<td><label>Oedema -</label>
						<label class="radio-inline"><input type="radio" name="oedemaValue" value="1"/>(++) /</label>
						<label class="radio-inline"><input type="radio" name="oedemaValue" value="0"/>Nil</label>
					</td>
										
					<td><label>Cyanosis -</label>
						<label class="radio-inline"><input type="radio" name="cyanosisValue" value="1"/>(+) /</label>
						<label class="radio-inline"><input type="radio" name="cyanosisValue" value="0"/>None</label>
					</td>
					
					<td><label>Ascitis -</label>
						<label class="radio-inline"><input type="radio" name="ascitisValue" value="1"/>(++) /</label>
						<label class="radio-inline"><input type="radio" name="ascitisValue" value="0"/>None</label>
					</td>		
				</tr>
				
				<tr>
					<td><label>Neck Veins -</label>
						<label class="radio-inline"><input type="radio" name="neckVainsValue" value="1"/>Engorged /</label>
						<label class="radio-inline"><input type="radio" name="neckVainsValue" value="0"/>Normal</label>
					</td>
					
					<td><label>Clubbing -</label>
						<label class="radio-inline"><input type="radio" name="clubingValue" value="1"/>(+) /</label>
						<label class="radio-inline"><input type="radio" name="clubingValue" value="0"/>None</label>
					</td>
					
					<td><label>Gynaecomastia -</label>
						<label class="radio-inline"><input type="radio" name="gynaecomastiaValue" value="1"/>(+) /</label>
						<label class="radio-inline"><input type="radio" name="gynaecomastiaValue" value="0"/>None</label>
					</td>
				</tr>
				
				<tr>
					<td><label>Koilonychia -</label>
						<label class="radio-inline"><input type="radio" name="koilonychiaValue" value="1"/>(+) /</label>
						<label class="radio-inline"><input type="radio" name="koilonychiaValue" value="0"/>None</label>
					</td>	
					
					<td><label>Palmar erythema -</label>
						<label class="radio-inline"><input type="radio" name="palmarErythemaValue" value="1"/>(+) /</label>
						<label class="radio-inline"><input type="radio" name="palmarErythemaValue" value="0"/>None</label>
					</td>
					
					<td><label>Flapping Tremor -</label>
						<label class="radio-inline"><input type="radio" name="flappingTremorValue" value="1"/>(+) /</label>
						<label class="radio-inline"><input type="radio" name="flappingTremorValue" value="0"/>None</label>
					</td>	
				</tr>
				
				<tr>
					<td><label>Pulse - <input type="text" th:field="*{pulseValue}" class="half-width form-control" readonly="readonly"/> /Min</label>
					</td>
					
					<td><label>B.P. - <input type="text" th:field="*{bpValue}" class="half-width form-control" readonly="readonly"/></label>
					</td>
					
					<td><label>Liver -</label>
						<label class="radio-inline"><input type="radio" name="liverValue" value="0"/>N.P. /</label>
						<label class="radio-inline"><input type="radio" name="liverValue" value="" class="radio-top-margin"/><input type="text" class="liverValue half-width form-control" readonly="readonly"/></label>
					</td>				
				</tr>
				
				<tr>
					<td><label>Spleen -</label>
						<label class="radio-inline"><input type="radio" name="spleenValue" value="0"/>N.P. /</label>
						<label class="radio-inline"><input type="radio" name="spleenValue" value="" class="radio-top-margin"/><input type="text" class="spleenValue half-width form-control" readonly="readonly"/></label>
					</td>	
					
					<td><label>Kidney - <input type="text" th:field="*{kidneyValue}" class="half-width form-control" readonly="readonly"/></label>
					</td>
					
					<td><label>Abdominal Tenderness -</label>
						<label class="radio-inline"><input type="radio" name="abdomenValue" value="1"/>Epi(++) /</label>
						<label class="radio-inline"><input type="radio" name="abdomenValue" value="0"/>Duo(++)</label>
					</td>
				</tr>
				
				<tr>
					<td><label>Lower Abdomen -</label>
						<label class="radio-inline"><input type="radio" name="lowerAbdomenValue" value="1"/>(++) /</label>
						<label class="radio-inline"><input type="radio" name="lowerAbdomenValue" value="0"/>None</label>
					</td>
					
					<td><label>Mcburney's Tenderness -</label>
						<label class="radio-inline"><input type="radio" name="mcTendernessValue" value="1"/>(++) /</label>
						<label class="radio-inline"><input type="radio" name="mcTendernessValue" value="0"/>None</label>
					</td>
					
					<td><label>Lymph Node -</label>
						<label class="radio-inline"><input type="radio" name="lymphNodeValue" value="0"/>N.P. /</label>
						<label class="radio-inline"><input type="radio" name="lymphNodeValue" value="" class="radio-top-margin"/><input type="text" class="lymphNodeValue half-width form-control" readonly="readonly"/></label>
					</td>
				</tr>
				
				<tr>
					<td><label>Lungs -</label>
						<label class="radio-inline"><input type="radio" name="lungsValue" value="0"/>N.A.D /</label>
						<label class="radio-inline"><input type="radio" name="lungsValue" value="" class="radio-top-margin"/><input type="text" class="lungsValue half-width form-control" readonly="readonly"/></label>
					</td>
					
					<td><label>Heart -</label>
						<label class="radio-inline"><input type="radio" name="heartValue" value="0"/>N.A.D /</label>
						<label class="radio-inline"><input type="radio" name="heartValue" value="" class="radio-top-margin"/><input type="text" class="heartValue half-width form-control" readonly="readonly"/></label>
					</td>
					
					<td><label>Nervous System -</label>
						<label class="radio-inline"><input type="radio" name="nervousSystemValue" value="0"/>N.A.D /</label>
						<label class="radio-inline"><input type="radio" name="nervousSystemValue" value="" class="radio-top-margin"/><input type="text" class="nervousSystemValue half-width form-control" readonly="readonly"/></label>
					</td>
				</tr>
				
				<tr>
					<td ><label><strong>Provisional Diagnosis:</strong></label>						
					</td>
					<td colspan="3"><input type="text" th:field="*{provisionalDiagnosis}" class="form-control" readonly="readonly"/></td>
				</tr>
				
				<tr>
					<td colspan="2"></td>
					<td><a id="examFindingsEdit" class="btn btn-primary btn-block edit">Edit</a><a id="examFindingsUpdate" class="btn btn-primary btn-block update hide">Update</a></td>
				</tr>
			</table>
		</form>
	</div>
	
	<hr></hr>
	
	<div id="investigationsPage" class="form-group">
			<form id="investigationForm" th:action="@{/updateinvestigation}" th:object="${investigation}" method="post" accept-charset="utf-8">
				<textarea th:id="visitId" th:field="*{investigation.visitId}" class="hide"></textarea>
				<table class="table">
					
				</table>
			</form>
		</div>
	
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$("document").ready(function() {
			
			$(".edit").click(function(){
				$(this).addClass("hide");
				$(this).next().removeClass("hide");
				
				var id = this.id;
				var divName = id.split("Edit")[0] + "Page";				
				
				$("#" + divName).find("textarea").prop("readonly", false);
				$("#" + divName).find("input[type=text]").prop("readonly", false);
				$("#" + divName + " input[type=radio]").prop('disabled', false);
			});
			
			$(".update").click(function(){
				$(this).addClass("hide");
				$(this).prev().removeClass("hide");
				
				var id = this.id;
				var divName = id.split("Update")[0] + "Page";
				var formName = id.split("Update")[0] + "Form";
				
				$("#" + divName).find("textarea").prop("readonly", true);
				$("#" + divName).find("input[type=text]").prop("readonly", false);
				
				$("#" + formName).submit();
				$("#" + divName + " input[type=radio]").prop('disabled', true);
			});
			
			
			var examFindings = [[${examFindings}]];
			
			
			var radioButton = $("#examFindingsPage input:radio");
			var radioCount = radioButton.length;
			
			for(var i = 0; i < radioCount; i++){
				var currentRadioButton = radioButton[i];
				var name = currentRadioButton.name;
				if(currentRadioButton.defaultValue == examFindings[name]){
					currentRadioButton.checked = true;
				}else if(currentRadioButton.defaultValue == ""){
					if(examFindings[name] != 0 && examFindings[name] != 1){
						currentRadioButton.defaultValue = examFindings[name];
						currentRadioButton.checked = true;
						$("." + name).val(examFindings[name]);
					}
				}
			}
			
			$("input[type=radio]").prop('disabled', true);
			ExamFindingsListener.attach();
		});
		/*]]>*/
	</script>
</body>
</html>