<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: header">

</head>
<body>
<div th:replace="main :: menu"></div>

<div id="patientViewPage" class="form-group">
		<form id="registrationForm" th:action="@{/updatepatient}" th:object="${patient}" method="post" accept-charset="utf-8">
			<table>
				<tr>
					<td><label>Registration No:</label> </td>
					<td><input type="text" id="regNo" class="form-control" th:field="*{regNo}" readonly="readonly"/></td>
					<td><label>Date:</label></td>
					<td><label class="form-control" th:text="${patient.creationDate}"></label></td>
					<td><label>Name:</label></td>
					<td><input type="text" class="form-control" th:field="*{name}" required="required"/></td>
				</tr>
				
				<tr>
					
					<td><label>Age:</label></td>
					<td><input type="number" class="form-control" th:field="*{age}" required="required"/></td>
					<td><label>Sex:</label></td>
					<td><select class="form-control" th:field="*{sex}" required="required">
						<option value="" selected="selected">-------- Select --------</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Other">Other</option>
					</select></td>
					<td><label>Profession:</label></td>
					<td><input type="text" class="form-control" th:field="*{profession}"/></td>
				</tr>
				
				<tr>
					
					
					<td><label>Mobile:</label></td>
					<td><input type="text" class="form-control" th:field="*{contactNo}"/></td>
					<td><label>NID:</label></td>
					<td><input type="text" class="form-control" th:field="*{nid}"/></td>
					<td><label>Area:</label></td>
					<td><input type="text" class="form-control" th:field="*{area}"/></td>
				</tr>
				
				<tr>
					
					<td><label>Thana:</label></td>
					<td><input type="text" class="form-control" th:field="*{thana}"/></td>
					<td><label>Zilla:</label></td>
					<td><input type="text" class="form-control" th:field="*{zilla}"/></td>
					<td><label>Past History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{pastHistory}"></textarea></td>		
				</tr>

				<tr>
					
					
					<td><label>Family History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{familyHistory}"></textarea></td>
					<td><label>Smoking History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{smokingHistory}"></textarea></td>
					<td><label>Drug History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{drugHistory}"></textarea></td>		
				</tr>
				
				<tr>
					<td colspan="2"></td>
					<td><button type="button" id="updatePatientButton" class="btn btn-success btn-lg full-width">Update Patient</button></td>
					<td><button type="button" id="viewVisitButton" class="btn btn-primary btn-lg full-width">View Visits</button></td>
					<td colspan="2"></td>
				</tr>
			</table>
		</form>
	</div>
	
	<div id="patientViewer">
		<label>PATIENTS:</label>
		<div class="input-group searchBoxHolder">
			<input type="text" id="searchBox" class="form-control" placeholder="Search..."></input>
			<span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
			
		</div>
		<div id="patientViewTableHolder">
			<table class="table-bordered table-hover" id="patientViewTable">
			<thead>
			<tr>
				<th><label>Registration No</label></th>
				<th><label>Name</label></th>
				<th><label>Age</label></th>
				<th><label>Sex</label></th>
				<th><label>Contact No</label></th>
				<th><label>NID</label></th>
				<th><label>Area</label></th>
				<th><label>Thana</label></th>
				<th><label>Zilla</label></th>
				<th></th>
				<th></th>
			</tr>
			<tr id="noPatientNotification">
				<td colspan="12" style="text-align:center;white-space:nowrap">No patients available</td>
			</tr>
			</thead>
			<tbody>
			</tbody>			
		</table>
		</div>		
	</div>
	
	<div class="modal fade" id="visitModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<label>PATIENT VISITS:</label>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
								
					<div id="visitViewer">
					<div class="newVisitSection">
						<a class="btn btn-primary btn-block">New Visit</a>
					</div>					
					<div id="patientVisitTableHolder">
						<table class="table-bordered table-hover" id="patientVisitTable">
							<thead>
							<tr>
								<th><label>Visit Date</label></th>
								<th><label>Registration No</label></th>
								<th><label>Name</label></th>
								<th><label>Contact No</label></th>
								<th><label>Zilla</label></th>
								<th><label>Chief Complains</label></th>
								<th><label>Final Diagnosis</label></th>
								<th></th>
								<th></th>
							</tr>
							<tr id="noPatientVisitNotification">
								<td colspan="9" style="text-align:center;white-space:nowrap">No visits available</td>
							</tr>
							</thead>
							<tbody>
							</tbody>
			
						</table>
						</div>		
					</div>
					
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	$("document").ready(function() {
		PatientManager.getPatientList("");
		
		var timeout = null;
		$("#searchBox").on("keyup", function(e){
			clearTimeout(timeout);
			timeout = setTimeout(function(){
				var param = $("#searchBox").val();
				PatientManager.getPatientList(param);
			},1000);			
		});
		
		$("#updatePatientButton").click(function(){
			if($("#regNo").val() != ""){
				$("#registrationForm").submit();
			}else{
				alert("Please select a patient");
			}
		});
		
		$("#viewVisitButton").click(function(){
			if($("#regNo").val() != ""){
				$("#visitModal").modal({
					backdrop: true
				});
				
				$("#visitModal").on('shown.bs.modal', function() {
					PatientManager.getPatientVisitList($("#regNo").val());
					$("#visitModal").find('.modal-body').css({
			              height:'420px', //probably not needed 
			              'max-height':'100%'
			       });
					
					var url = "patientvisit?regNo=" + $("#regNo").val();
					$(".newVisitSection a").attr("href", url)
				});
			}else{
				alert("Please select a patient");
			}
			
		});
	});
	</script>
</body>
</html>