<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: header">

</head>
<body>
	<div th:replace="main :: menu"></div>
	
	<div class="followUpSection">
			<a class="btn btn-primary btn-block">FollowUp</a>
	</div>
	
	<div id="patientVisitPage" class="form-group">
		<form id="patientVisitForm" th:action="@{/updatepatientvisit}" th:object="${patientVisit}" method="post" accept-charset="utf-8">
			<textarea th:name="id" th:text="${patientVisit.id}" class="hide"></textarea>
			<table>
				<tr>
					<td colspan="4">
						<h4>Patient Visit:</h4>
					</td>
				</tr>
				<tr>
					<td><label>Registration No:</label> </td>
					<td><label class="form-control" th:text="${patientVisit.regNo}" ></label></td>
					<td><label>Visit Date:</label></td>
					<td><label class="form-control" th:text="${patientVisit.visitDate}"></label></td>
				</tr>
				
				<tr>
					<td><label>Patient Name:</label> </td>
					<td colspan="3"><label class="form-control" th:text="${patient.name}"></label></td>
				</tr>
				
				<tr>
					<td><label>Age:</label> </td>
					<td><label class="form-control" th:text="${patient.age}"></label></td>
					<td><label>Sex:</label></td>
					<td><label class="form-control" th:text="${patient.sex}" ></label></td>
				</tr>
							
				<tr>
					<td><label>Chief Complains:</label></td>
					<td colspan="3"><textarea rows="3" class="form-control" th:name="chiefComplains" th:text="${patientVisit.chiefComplains}"></textarea></td>
				</tr>
				
				<tr>
					<td><label>H/O Present Illness:</label></td>
					<td colspan="3"><textarea rows="3" class="form-control" th:name="presentHistory" th:text="${patientVisit.presentHistory}"></textarea></td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td><a id="patientVisitEdit" class="btn btn-primary btn-block edit">Edit</a><a id="patientVisitUpdate" class="btn btn-primary btn-block update hide">Update</a></td>
				</tr>
			</table>
			</form>
	</div>
	
	<hr></hr>
	
	<div id="examFindingsPage" class="form-group">		
		<form id="examFindingsForm" th:action="@{/updateexamfindings}" th:object="${examFindings}" method="post" accept-charset="utf-8">
			<textarea th:name="visitId" th:field="${examFindings.visitId}" class="hide"></textarea>
			<table class="table">
				<tr>
					<td colspan="3"><h4>Exam Findings:</h4>
					</td>
				</tr>
				<tr>
					<td><label>Temperature -</label>
						<label class="radio-inline"><input type="radio" th:name="temperatureValue" value="1"/>High</label>
						<label class="radio-inline"><input type="radio" th:name="temperatureValue" value="0"/>Normal</label>
					</td>
					
					<td><label>Anaemia -</label>
						<label class="radio-inline"><input type="radio" name="anaemiaValue" value="0"/>Nil</label>
						<label class="radio-inline"><input type="radio" name="anaemiaValue" value="" class="radio-top-margin"/><input type="text" class="anaemiaValue half-width form-control"/></label>
					</td>
					
					<td><label>Jaundice -</label>
						<label class="radio-inline"><input type="radio" name="jaundiceValue" value="0"/>Nil</label>
						<label class="radio-inline"><input type="radio" name="jaundiceValue" value="" class="radio-top-margin"/><input type="text" class="jaundiceValue half-width form-control"/></label>
					</td>					
				</tr>
				
				<tr>
					<td><label>Oedema -</label>
						<label class="radio-inline"><input type="radio" name="oedemaValue" value="0"/>Nil</label>
						<label class="radio-inline"><input type="radio" name="oedemaValue" value="" class="radio-top-margin"/><input type="text" class="oedemaValue half-width form-control"/></label>
					</td>
										
					<td><label>Cyanosis -</label>
						<label class="radio-inline"><input type="radio" name="cyanosisValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="cyanosisValue" value="" class="radio-top-margin"/><input type="text" class="cyanosisValue half-width form-control"/></label>
					</td>
					
					<td><label>Ascitis -</label>
						<label class="radio-inline"><input type="radio" name="ascitisValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="ascitisValue" value="" class="radio-top-margin"/><input type="text" class="ascitisValue half-width form-control"/></label>
					</td>		
				</tr>
				
				<tr>
					<td><label>Neck Veins -</label>
						<label class="radio-inline"><input type="radio" name="neckVainsValue" value="1"/>Engorged</label>
						<label class="radio-inline"><input type="radio" name="neckVainsValue" value="0"/>Normal</label>
					</td>
					
					<td><label>Clubbing -</label>
						<label class="radio-inline"><input type="radio" name="clubingValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="clubingValue" value="" class="radio-top-margin"/><input type="text" class="clubingValue half-width form-control"/></label>
					</td>
					
					<td><label>Gynaecomastia -</label>
						<label class="radio-inline"><input type="radio" name="gynaecomastiaValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="gynaecomastiaValue" value="" class="radio-top-margin"/><input type="text" class="gynaecomastiaValue half-width form-control"/></label>
					</td>
				</tr>
				
				<tr>
					<td><label>Koilonychia -</label>
						<label class="radio-inline"><input type="radio" name="koilonychiaValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="koilonychiaValue" value="" class="radio-top-margin"/><input type="text" class="koilonychiaValue half-width form-control"/></label>
					</td>	
					
					<td><label>Palmar erythema -</label>
						<label class="radio-inline"><input type="radio" name="palmarErythemaValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="palmarErythemaValue" value="" class="radio-top-margin"/><input type="text" class="palmarErythemaValue half-width form-control"/></label>
					</td>
					
					<td><label>Flapping Tremor -</label>
						<label class="radio-inline"><input type="radio" name="flappingTremorValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="flappingTremorValue" value="" class="radio-top-margin"/><input type="text" class="flappingTremorValue half-width form-control"/></label>
					</td>	
				</tr>
				
				<tr>
					<td><label>Pulse - <input type="text" th:field="*{pulseValue}" class="half-width form-control"/> /Min</label>
					</td>
					
					<td><label>B.P. - <input type="text" th:field="*{bpValue}" class="half-width form-control"/></label>
					</td>
					
					<td><label>Liver -</label>
						<label class="radio-inline"><input type="radio" name="liverValue" value="0"/>N.P.</label>
						<label class="radio-inline"><input type="radio" name="liverValue" value="" class="radio-top-margin"/><input type="text" class="liverValue half-width form-control"/></label>
					</td>				
				</tr>
				
				<tr>
					<td><label>Spleen -</label>
						<label class="radio-inline"><input type="radio" name="spleenValue" value="0"/>N.P.</label>
						<label class="radio-inline"><input type="radio" name="spleenValue" value="" class="radio-top-margin"/><input type="text" class="spleenValue half-width form-control"/></label>
					</td>	
					
					<td><label>Kidney - <input type="text" th:field="*{kidneyValue}" class="half-width form-control"/></label>
					</td>
					
					<td><label>Abdominal Tenderness -</label>
						<label class="radio-inline"><input type="radio" name="abdomenValue" value="1"/>Epi(++)</label>
						<label class="radio-inline"><input type="radio" name="abdomenValue" value="0"/>Duo(++)</label>
					</td>
				</tr>
				
				<tr>
					<td><label>Lower Abdomen -</label>
						<label class="radio-inline"><input type="radio" name="lowerAbdomenValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="lowerAbdomenValue" value="" class="radio-top-margin"/><input type="text" class="lowerAbdomenValue half-width form-control"/></label>
					</td>
					
					<td><label>Mcburney's Tenderness -</label>
						<label class="radio-inline"><input type="radio" name="mcTendernessValue" value="0"/>None</label>
						<label class="radio-inline"><input type="radio" name="mcTendernessValue" value="" class="radio-top-margin"/><input type="text" class="mcTendernessValue half-width form-control"/></label>
					</td>
					
					<td><label>Lymph Node -</label>
						<label class="radio-inline"><input type="radio" name="lymphNodeValue" value="0"/>N.P.</label>
						<label class="radio-inline"><input type="radio" name="lymphNodeValue" value="" class="radio-top-margin"/><input type="text" class="lymphNodeValue half-width form-control"/></label>
					</td>
				</tr>
				
				<tr>
					<td><label>Lungs -</label>
						<label class="radio-inline"><input type="radio" name="lungsValue" value="0"/>N.A.D</label>
						<label class="radio-inline"><input type="radio" name="lungsValue" value="" class="radio-top-margin"/><input type="text" class="lungsValue half-width form-control"/></label>
					</td>
					
					<td><label>Heart -</label>
						<label class="radio-inline"><input type="radio" name="heartValue" value="0"/>N.A.D</label>
						<label class="radio-inline"><input type="radio" name="heartValue" value="" class="radio-top-margin"/><input type="text" class="heartValue half-width form-control"/></label>
					</td>
					
					<td><label>Nervous System -</label>
						<label class="radio-inline"><input type="radio" name="nervousSystemValue" value="0"/>N.A.D</label>
						<label class="radio-inline"><input type="radio" name="nervousSystemValue" value="" class="radio-top-margin"/><input type="text" class="nervousSystemValue half-width form-control"/></label>
					</td>
				</tr>
				
				<tr>
					<td ><label><strong>Provisional Diagnosis:</strong></label>						
					</td>
					<td colspan="3"><input type="text" th:field="*{provisionalDiagnosis}" class="form-control"/></td>
				</tr>
				
				<tr>
					<td colspan="2"></td>
					<td><a id="examFindingsEdit" class="btn btn-primary btn-block edit">Edit</a><a id="examFindingsUpdate" class="btn btn-primary btn-block update hide">Update</a></td>
				</tr>
			</table>
		</form>
	</div>
	
	<hr></hr>
	
	<div id="investigationPage" class="form-group">
			<form id="investigationForm" th:action="@{/updateinvestigation}" th:object="${investigation}" method="post" accept-charset="utf-8">
				<textarea th:id="visitId" th:field="${investigation.visitId}" class="hide"></textarea>
				<table class="table">
					<tr>
						<td colspan="8"><h4>Investigation:</h4>
						</td>
					</tr>
					<tr>
						<td><label>CXR -</label></td>
						<td colspan="3"><input type="text" th:field="*{cxrValue}" class="form-control"/></td>
						<td><label>X-ray PNS (OM) -</label></td>
						<td colspan="3"><input type="text" th:field="*{xrayValue}" class="form-control"/></td>
					</tr>
					
					<tr>
						<td colspan="8"><label><strong>BLOOD:</strong></label></td>
					</tr>
					
					<tr>
						<td><label>HB -</label></td>
						<td><input type="text" th:field="*{hbValue}" class="form-control half-width"/>gm</td>
						
						<td><label>ESR -</label></td>
						<td><input type="text" th:field="*{esrValue}" class="form-control half-width"/>mm</td>
						
						<td><label>Total WBC -</label></td>
						<td><input type="text" th:field="*{wbcValue}" class="form-control half-width"/>/c.mm</td>
						
						<td><label>Platelets</label></td>
						<td><input type="text" th:field="*{plateletsValue}" class="form-control half-width"/>/c.mm</td>			
					</tr>
					
					<tr>
						<td><label>Blood Suger:<br></br> RBS</label></td>
						<td><input type="text" th:field="*{bsRbsValue}" class="form-control half-width"/>mmol/L</td>		
						
						<td><label>Fasting -</label></td>
						<td><input type="text" th:field="*{bsFastingValue}" class="form-control half-width"/>mmol/L</td>
						
						<td style="padding-left: 25px;"><label>2 HABF -</label></td>
						<td><input type="text" th:field="*{habfValue}" class="form-control half-width"/>mmol/L</td>
						
						<td><label>HbA1C -</label></td>
						<td><input type="text" th:field="*{hba1cValue}" class="form-control half-width"/>%</td>
					</tr>
					
					<tr>
						<td><label>S. Creatinin -</label></td>
						<td><input type="text" th:field="*{creatininValue}" class="form-control half-width"/>mmol/L</td>
						
						<td><label>B. Urea -</label></td>
						<td><input type="text" th:field="*{bUreaValue}" class="form-control half-width"/>mg/dl</td>
						
						<td style="padding-left: 15px;"><label>Uric Acid -</label></td>
						<td><input type="text" th:field="*{uricAcidValue}" class="form-control half-width"/>mg/dl</td>
						
						<td><label>D.C. - P</label></td>
						<td><input type="text" th:field="*{dcPValue}" class="form-control half-width"/>%</td>
					</tr>
					
					<tr>
						<td><label>D.C. - L</label></td>
						<td><input type="text" th:field="*{dcLValue}" class="form-control half-width"/>%</td>
						
						<td><label>D.C. - M</label></td>
						<td><input type="text" th:field="*{dcMValue}" class="form-control half-width"/>%</td>
						
						<td><label>D.C. - E</label></td>
						<td><input type="text" th:field="*{dcEValue}" class="form-control half-width"/>%</td>
						
						<td><label>D.C. - B</label></td>
						<td><input type="text" th:field="*{dcBValue}" class="form-control half-width"/>%</td>
					</tr>
					
					<tr>
						<td><label>S. Bilirubin -</label></td>
						<td><input type="text" th:field="*{bilirubinValue}" class="form-control half-width"/>mg/dl</td>
						
						<td><label>SGPT(ALT) -</label></td>
						<td><input type="text" th:field="*{sgptValue}" class="form-control half-width"/></td>
						
						<td><label>SGOT -</label></td>
						<td><input type="text" th:field="*{sgotValue}" class="form-control half-width"/>U/L</td>
						
						<td><label>Alk. Phos -</label></td>
						<td><input type="text" th:field="*{alkPhosValue}" class="form-control half-width"/>U/L</td>
					</tr>
					
					<tr>						
						<td><label>Lipid Profile:<br></br> Total Cholesterol -</label></td>
						<td><input type="text" th:field="*{cholesterolValue}" class="form-control half-width"/></td>
						
						<td><label>HDL -</label></td>
						<td><input type="text" th:field="*{hdlValue}" class="form-control half-width"/></td>
						
						<td><label>LDL -</label></td>
						<td><input type="text" th:field="*{ldlValue}" class="form-control half-width"/></td>
						
						<td><label>TG -</label></td>
						<td><input type="text" th:field="*{tgValue}" class="form-control half-width"/></td>
					</tr>
					
					<tr>						
						<td><label>S.Electrolytes:<br></br> NA<sup>+</sup> =</label></td>
						<td><input type="text" th:field="*{eNaValue}" class="form-control half-width"/></td>
						
						<td><label>K<sup>+</sup> =</label></td>
						<td><input type="text" th:field="*{eKValue}" class="form-control half-width"/></td>
						
						<td><label>CL<sup>-</sup> =</label></td>
						<td><input type="text" th:field="*{eClValue}" class="form-control half-width"/>U/L</td>
						
						<td><label>CO<sub>2</sub> -</label></td>
						<td><input type="text" th:field="*{eCo2Value}" class="form-control half-width"/>U/L</td>
					</tr>
					
					<tr>
						<td><label>Prothrombin time -</label></td>
						<td><input type="text" th:field="*{prothrombinValue}" class="form-control half-width"/></td>
						
						<td><label>BT -</label></td>
						<td><input type="text" th:field="*{btValue}" class="form-control half-width"/></td>
						
						<td><label>CT -</label></td>
						<td><input type="text" th:field="*{ctValue}" class="form-control half-width"/></td>
						
						<td><label>R.A. Test-</label></td>
						<td><input type="text" th:field="*{raValue}" class="form-control half-width"/></td>
					</tr>
					
					<tr>
						<td><label>S. Albumin -</label></td>
						<td><input type="text" th:field="*{albuminValue}" class="form-control half-width"/></td>
					</tr>
					
					<tr>
						<td><label>Urine R/M/E-Alb</label></td>
						<td>
							<label class="radio-inline"><input type="radio" th:name="uAlbValue" value="high"/>+</label>
							<label class="radio-inline"><input type="radio" th:name="uAlbValue" value="trace"/>Trace</label>
							<label class="radio-inline"><input type="radio" th:name="uAlbValue" value="nil"/>Nil</label></td>
						
						<td><label>Sugar -</label></td>
						<td><label class="radio-inline"><input type="radio" th:name="uSugarValue" value="high"/>++</label>
							<label class="radio-inline"><input type="radio" th:name="uSugarValue" value="nil"/>Nil</label></td>
						
						<td><label>PC -</label></td>
						<td><input type="text" th:field="*{uPcValue}" class="form-control half-width"/>/HPF</td>
						
						<td><label>EC -</label></td>
						<td><input type="text" th:field="*{uEcValue}" class="form-control half-width"/></td>
					</tr>
					
					<tr>
						<td><label>RBC -</label></td>
						<td><label class="radio-inline"><input type="radio" th:name="uRbcValue" value="0"/>Nil</label>
						<label class="radio-inline"><input type="radio" th:name="uRbcValue" value="" class="radio-top-margin"/><input type="text" class="uRbcValue half-width form-control float-right"/></label><span>/HPF</span></td>
					</tr>
					
					<tr>
						<td><label>Sputum AFB: 1<sup>st</sup> -</label></td>
						<td><input type="text" th:field="*{spuAfb1Value}" class="form-control half-width"/></td>
						
						<td><label>2<sup>nd</sup> -</label></td>
						<td><input type="text" th:field="*{spuAfb2Value}" class="form-control half-width"/></td>
							
						<td><label>3<sup>rd</sup> -</label></td>
						<td><input type="text" th:field="*{spuAfb3Value}" class="form-control half-width"/></td>
						
						<td><label>Sputum<br></br> Eosinophils -</label></td>
						<td><input type="text" th:field="*{spuEosinophilsValue}" class="form-control half-width"/>/HPF</td>
					</tr>
					
					<tr>
						<td colspan="8"><label>Plural Fluid Exam:</label></td>
					</tr>
					
					<tr>
						<td><label>Cytology - Total count</label></td>
						<td><input type="text" th:field="*{pfCytologyTcValue}" class="form-control half-width"/>/c.mm</td>
						
						<td><label>Diff. count<br></br>Polymorph</label></td>
						<td><input type="text" th:field="*{pfCytologyDcPValue}" class="form-control half-width"/>%</td>
						
						<td><label>Diff. count<br></br>Mononuclear cell</label></td>
						<td><input type="text" th:field="*{pfCytologyDcMcValue}" class="form-control half-width"/>%</td>
						
						<td></td>
						<td></td>
					</tr>
					
					<tr>
						<td><label>Mallignant Cells -</label></td>
						<td colspan="7"><label class="radio-inline"><input type="radio" th:name="pfMalignantCellsValue" value="0" checked="checked"/>-</label>
						<label class="radio-inline" style="width: 100%;"><input type="radio" th:name="pfMalignantCellsValue" value="" class="radio-top-margin"/><input type="text" class="pfMalignantCellsValue form-control float-right"/></label></td>
					</tr>
					
					<tr>						
						<td><label>ADA -</label></td>
						<td><input type="text" th:field="*{pfAdaValue}" class="form-control half-width"/></td>
						
						<td><label>Protein -</label></td>
						<td><input type="text" th:field="*{pfProteinValue}" class="form-control half-width"/>gm/L</td>
						
						<td><label>Sugar -</label></td>
						<td><input type="text" th:field="*{pfSugarValue}" class="form-control half-width"/>mmol/L</td>
						
						<td></td>
						<td></td>
					</tr>
					
					<tr>
						<td><label>AFB -</label></td>
						<td><input type="text" th:field="*{pfAfbValue}" class="form-control half-width"/></td>
						
						<td><label>USG -</label></td>
						<td colspan="2"><input type="text" th:field="*{usgValue}" class="form-control"/></td>
						
						<td><label>ECG -</label></td>
						<td colspan="2"><input type="text" th:field="*{ecgValue}" class="form-control"/></td>						
					</tr>
					
					<tr>
						<td><label>Echo-Cardiograph -</label></td>
						<td><input type="text" th:field="*{cardioValue}" class="form-control"/></td>
						
						<td><label>C.T. Scan Brain -</label></td>
						<td colspan="2"><input type="text" th:field="*{ctScanValue}" class="form-control"/></td>
						
						<td><label>HRCT Chest -</label></td>
						<td colspan="2"><input type="text" th:field="*{htctChestValue}" class="form-control"/></td>
					</tr>
					
					<tr>
						<td><label>MRI Brain -</label></td>
						<td><input type="text" th:field="*{mriBrainValue}" class="form-control"/></td>
						
						<td><label>MRI Spine<br></br>(Dorsal/Lumbo-<br></br>Sarcral) -</label></td>
						<td colspan="2"><input type="text" th:field="*{mriSpineValue}" class="form-control"/></td>
						
						<td><label>FNAC -</label></td>
						<td colspan="2"><input type="text" th:field="*{fnacValue}" class="form-control"/></td>
					</tr>
					
					<tr>
						<td><label>Endoscopy of <br></br>Upper G.I Tract -</label></td>
						<td><input type="text" th:field="*{endoscopyValue}" class="form-control"/></td>
						
						<td><label>Colonoscopy -</label></td>
						<td colspan="2"><input type="text" th:field="*{coloscopyValue}" class="form-control"/></td>
						
						<td><label>Bronchoscopy -</label></td>
						<td colspan="2"><input type="text" th:field="*{bronchoscopyValue}" class="form-control"/></td>
					</tr>
					
					<tr>
						<td><label>Final Diagnosis:</label></td>
						<td colspan="7"><input type="text" th:field="*{finalDiagnosis}" class="form-control"/></td>
					</tr>
					
					<tr>
						<td><label>Treatment Given:</label></td>
						<td colspan="7"><input type="text" th:field="*{treatment}" class="form-control"/></td>
					</tr>
					
					<tr>
					<td colspan="7"></td>
					<td><a id="investigationEdit" class="btn btn-primary btn-block edit">Edit</a><a id="investigationUpdate" class="btn btn-primary btn-block update hide">Update</a></td>
				</tr>
				</table>
			</form>
		</div>
		
		<div class="followUpSection">
			<a class="btn btn-primary btn-block">FollowUp</a>
		</div>
	
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$("document").ready(function() {
			
			$(".edit").click(function(){
				$(this).addClass("hide");
				$(this).next().removeClass("hide");
				
				var id = this.id;
				var divName = id.split("Edit")[0] + "Page";				
				
				$("#" + divName).find("textarea").prop("readonly", false);
				$("#" + divName).find("input[type=text]").prop("readonly", false);
				$("#" + divName + " input[type=radio]").prop('disabled', false);
			});
			
			$(".update").click(function(){
				$(this).addClass("hide");
				$(this).prev().removeClass("hide");
				
				var id = this.id;
				var divName = id.split("Update")[0] + "Page";
				var formName = id.split("Update")[0] + "Form";
				
				$("#" + divName).find("textarea").prop("readonly", true);
				$("#" + divName).find("input[type=text]").prop("readonly", true);
				
				$("#" + formName).submit();
				$("#" + divName + " input[type=radio]").prop('disabled', true);
			});
			
			
			var examFindings = [[${examFindings}]];
			var investigation = [[${investigation}]];
			
			
			var radioButton = $("#examFindingsPage input:radio");
			var radioCount = radioButton.length;
			
			for(var i = 0; i < radioCount; i++){
				var currentRadioButton = radioButton[i];
				var name = currentRadioButton.name;
				if(currentRadioButton.defaultValue == examFindings[name]){
					currentRadioButton.checked = true;
				}else if(currentRadioButton.defaultValue == ""){
					if(examFindings[name] != 0 && examFindings[name] != 1){
						currentRadioButton.defaultValue = examFindings[name];
						currentRadioButton.checked = true;
						$("." + name).val(examFindings[name]);
					}
				}
			}
			
			var investigationRadioButton = $("#investigationPage input:radio");
			var investigationRadioCount = investigationRadioButton.length;
			
			for(var i = 0; i < investigationRadioCount; i++){
				var currentRadioButton = investigationRadioButton[i];
				var name = currentRadioButton.name;
				if(currentRadioButton.defaultValue == investigation[name]){
					currentRadioButton.checked = true;
				}else if(currentRadioButton.defaultValue == ""){
					if(investigation[name] != 0 && investigation[name] != 1){
						currentRadioButton.defaultValue = investigation[name];
						currentRadioButton.checked = true;
						$("." + name).val(investigation[name]);
					}
				}
			}
			
			$("input[type=radio]").prop('disabled', true);
			$("body").find("input[type=text]").prop("readonly", true);
			$("body").find("textarea").prop("readonly", true);
			ExamFindingsListener.attach();
			InvestigationListener.attach();
			
			$(window).scroll(function(e){
				var scrollPosition = $(window).scrollTop();
				PatientManager.saveToSessionStorage("scrollPosition", scrollPosition)
			});
			
			var scroll = PatientManager.getFromSessionStorage("scrollPosition");
			if(scroll > 0){
				$(window).scrollTop(scroll);
			}
			
			var url = "patientvisit?visitId=" + examFindings.visitId;
			$(".followUpSection a").attr("href", url)
		});
		/*]]>*/
	</script>
</body>
</html>