<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: header">

</head>
<body>
	<div th:replace="main :: menu"></div>

	<div id="registrationPage" class="form-group">
		<form id="registrationForm" th:action="@{/registerpatient}" th:object="${patient}" method="post" accept-charset="utf-8">
			<table>
				<tr>
					<td><label>Registration No:</label> </td>
					<td><input type="text" class="form-control" th:id="regNo" th:name="regNo" th:value="${regNo}" readonly="readonly"/></td>
					<td><label>Date:</label></td>
					<td><input type="text" class="form-control" id="regDate" th:field="*{creationDate}" required="required"></input></td>
				</tr>
				
				<tr>
					<td><label>Name:</label></td>
					<td><input type="text" class="form-control" th:field="*{name}" autofocus="autofocus" required="required"/></td>
					<td><label>Age:</label></td>
					<td><input type="number" class="form-control" th:field="*{age}" required="required"/></td>
				</tr>
				
				<tr>
					<td><label>Sex:</label></td>
					<td><select class="form-control" th:field="*{sex}" required="required">
						<option value="" selected="selected">-------- Select --------</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select></td>
					<td><label>Profession:</label></td>
					<td><input type="text" class="form-control" th:field="*{profession}"/></td>
				</tr>
				
				<tr>
					<td><label>Mobile:</label></td>
					<td><input type="text" class="form-control" th:field="*{contactNo}"/></td>
					<td><label>NID:</label></td>
					<td><input type="text" class="form-control" th:field="*{nid}"/></td>					
				</tr>
				
				<tr>
					<td><label>Area:</label></td>
					<td><input type="text" class="form-control" th:field="*{area}"/></td>
					<td><label>Thana:</label></td>
					<td><input type="text" class="form-control" th:field="*{thana}"/></td>				
				</tr>

				<tr>
					<td><label>Zilla:</label></td>
					<td><input type="text" class="form-control" th:field="*{zilla}"/></td>
					<td><label>Past History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{pastHistory}"></textarea></td>				
				</tr>
				
				<tr>
					<td><label>Family History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{familyHistory}"></textarea></td>
					<td><label>Smoking History History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{smokingHistory}"></textarea></td>
				</tr>
				
				<tr>
					<td><label>Drug History:</label></td>
					<td><textarea rows="1" class="form-control" th:field="*{drugHistory}"></textarea></td>
				</tr>
				
				<tr>
					<td colspan="4"><input type="submit" class="btn btn-success btn-lg full-width" value="Register Patient"/></td>
					
				</tr>
			</table>

		</form>
	</div>
	
	<script>
	$("document").ready(function() {
		$("#regDate").datepicker({
			format: 'dd/mm/yyyy',
			autoclose: true
		});
		$("#regDate").change(function(){
			var date = $("#regDate").val();
			var dateArr = date.split("/");
			var day = dateArr[0];
			var month = dateArr[1];
			var year = dateArr[2];
			
			PatientManager.setRegNo(day, month, year);
		});
		$("#regDate").datepicker('update', new Date());
	});
	</script>
	
</body>
</html>