body {
	background-color: #F0F0F0;
	padding-top: 60px;
}

#homePage {
	margin: 80px auto;
	width: 300px;
}

#homePage a {
	min-width: 250px;
	margin-bottom: 10px;
}

#registrationPage {
	margin: 10px auto;
	width: 700px;
}

#registrationPage td {
	padding: 5px;
}

#patientViewPage{
	margin: 10px auto;
	width: 900px;
}

#patientViewPage td{
	padding: 5px;
}

#patientVisitPage{
	margin: 10px auto;
	width: 700px;
}

#patientVisitPage td {
	padding: 5px;
}

.full-width {
	width: 100%;
}

.half-width{
	width: 80px !important;
}

.radio-top-margin{
	margin-top:10px !important;
}

#pageName {
	width: 200px;
	margin-left: 10px;
}

#examFindingsPage {
	margin: 40px auto;
	width: 1100px;
}

.patientInfoHolder{
	margin: 40px auto;
	width: 950px;
}

.patientInfoHolder td {
	padding: 5px;
}

#examFindingsPage label{
	margin-left: 0px !important;
}

#examFindingsPage input[type=text] {
	display: inherit !important;
	/* width: auto !important; */
}

#investigationPage{
	margin: 40px auto;
	width: 1150px;
}

#investigationPage td{
	width: 1%;
    white-space: nowrap;
}

#investigationPage input[type=text] {
	float:left;
}

.display-inline{
	display: inline !important;
}

.float-none{
	float: none !important;
}

.float-right{
	float: right !important;
}

#visitViewer{
	margin: 20px auto;
	width: 1000px;
}

#visitViewer table{
	width:100%;
}

.searchBoxHolder{
	float:right;
	width: 250px;
}

#patientVisitTable th,td{
	padding: 5px;
}

#patientVisitTableHolder{
	float:left;
	width:100%;
	overflow-y: auto;
	max-height: 400px;
	margin-bottom: 10px;
}

#patientViewer{
	margin: 40px auto;
	width: 1000px;
}

#patientViewer table{
	width:100%;
}

#patientViewTable th,td{
	padding: 5px;
}

#patientViewTableHolder{
	float:left;
	width:100%;
	overflow-y: auto;
	max-height: 400px;
	margin-bottom: 10px;
}

.followUpSection{
	margin: 40px auto;
	width: 600px;
}

.modal-dialog{
	width: 80% !important;
}

.modal-body{
	padding: 0px !important;
}

.newVisitSection{
	width:200px;
	float:right;
	margin-bottom:10px;
}